@import './App.scss';


.pageHeader{
    font-family: 'Quicksand';
    background: $primary;
    color: $secondary;
    text-align: left;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 20; 

    .ai{
        font-weight: bold;
    }
}

.logo {
    margin-top: -10px;
}

.row {
    display: flex;
    flex-direction: row;
}